@import url('https://fonts.googleapis.com/css?family=Quicksand');

/* Unrelated css to style bg and center button
 */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #eeabab;
}

.float-button button {
    position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  transition: width .5s;
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  font-size: 25px;
  background: #fff;
  border: none;
  border-radius: 100px;
  padding: 10px 25px;
  color: #eeabab;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, .2),
    inset -5px -5px 10px 0px rgba(0, 0, 0, .2);
  outline: none;
  box-sizing: border-box;
  width: 253px;
  height: 51px;
  span {
    white-space: nowrap;
  }
  &.loading {
    animation: loading .5s .75s alternate infinite;
    transition: width .5s .25s;
    width: 51px;
    span {
      opacity: 0;
      transition: opacity .25s;
    }
  }
}

@keyframes loading {
  100% {
    transform: scale(1.2);
    background: #fff7ba;
  }
}

@keyframes success {
  100% {
    opacity: 1;
  }
}